<button *ngIf="!isCreating" mat-button (click)="handleClickAdd()">Create new product</button>
<mat-card *ngIf="isCreating">
  <mat-form-field>
    <input matInput placeholder="Product name" type="text" [(ngModel)]="newProduct.name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Product price" type="number" [(ngModel)]="newProduct.price">
  </mat-form-field>
  
  
  <button mat-button (click)="handleClickSave()">Save</button>
  <button mat-button (click)="handleClickCancel()">Cancel</button>

</mat-card>